# Files to exclude from git archive exports (e.g. Package Control downloads)
.github export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.nvmrc export-ignore
extensions/ export-ignore
node_modules/ export-ignore
package.json export-ignore
package-lock.json export-ignore
samples/ export-ignore
scripts/ export-ignore
syntaxes/esql.tmLanguage.json export-ignore
